<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    <form method="POST" action="/">
        <h1>Sign in</h1>
        <label>Email address</label>
        <div><br></br>
        <input type="email" name="email" id="EmailAddress" required>
        <br></br>
        <label>Password</label>
        <br></br>
         <input type="password" name="password" minlength="6" required>
        </div>
        <input type="submit"    name="signin">
    </form>
</body>
</html>

