<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form method="POST" action="/">
        <h1>Create an account</h1>
        <label>Email address</label>
        <div><br>
        <input type="email" name="email" id="EmailAddress" required></br>
        <label>Password</label>
         <br><input type="password" name="password" minlength="6" required></br>
        </div>
        <input type="submit"    name="signup">
        </form>
    <a href="/signin">Already have an account? Sign in here.</a>
      
</body>
</html>