<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="POST" action="/home">
        Type your message here:
        <input type="text" name="quote" placeholder="Type in here"> 
        <br></br>
        Who said the quote???
        <input type="text" name="person" placeholder="Enter your name">
        <br></br>
        <button name="submit" type="submit" value="HTML">submit</button> 
    </form>
    <form method="POST" action="/signout">
        <br></br>
         <button name="submit" type="submit" value="HTML">sign out</button>
        </form>
        
      
</body>
</html>